@page "/Block/{BlockNumber:int}"
@inject IEthereumService _ethereumService

<div class="container">
    <div class="row">
        <h2>
            Block #@BlockNumber
        </h2>
    </div>
    @if (_hasLoaded)
    {
        @if (!(_block is null))
        {
            <div class="card">
                <p>
                    <b>Block Height:</b> @BlockNumber
                </p>
                <p>
                    <b>TimeStamp:</b> @_block.Timestamp
                </p>
                <p>
                    <b>Mined By:</b> @_block.Miner
                </p>
                <p>
                    <b>Difficulty:</b> @_block.Difficulty
                </p>
                <p>
                    <b>Size:</b> @_block.Size
                </p>
                <p>
                    <b>Gas Used:</b> @_block.GasUsed
                </p>
                <p>
                    <b>Gas Limit:</b> @_block.GasLimit
                </p>
                <p>
                    <b>Extra Data:</b> @_block.ExtraData
                </p>
                <p>
                    <b>Hash:</b> @_block.BlockHash
                </p>
                <p>
                    <b>Parent Hash:</b> @_block.ParentHash
                </p>
                <p>
                    <b>Sha3Uncles:</b> @_block.Sha3Uncles
                </p>
                <p>
                    <b>StateRoot:</b> @_block.StateRoot
                </p>
                <p>
                    <b>Nonce:</b> @_block.Nonce
                </p>
                <div class="scrollmenu">
                    <h3>Transactions:</h3>
                    <table>
                        <tr>
                            <th>Tx Hash</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Amount</th>
                        </tr>
                        @foreach (Transaction transaction in _block.Transactions)
                        {
                            <tr>
                                <td>@transaction.TransactionHash</td>
                                <td>@transaction.From</td>
                                <td>@transaction.To</td>
                                <td>@transaction.Value</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <p>
                    There is no block #@BlockNumber
                </p>
            </div>
        }
    }
</div>

@code {
    [Parameter]
    public int BlockNumber { get; set; }
    private HexBigInteger _blockNumberBigInteger;
    private bool _hasLoaded = false;

    private BlockWithTransactions _block;

    protected override async Task OnInitializedAsync()
    {
        _blockNumberBigInteger = new HexBigInteger(BlockNumber);
        _block = await _ethereumService.GetBlockInfo(_blockNumberBigInteger);
        _hasLoaded = true;
    }
}
